@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@section Header {
    <header>
		<h2>Login</h2>
	</header>
	<p>Login to your account</p>
	<ul class="actions">
		
	</ul>
}


<div class="row">
    <div class="col-1">
       <br />

    </div>
    <div class="col-5">
        <b>If you already have a XRPL account, just enter your seed</b>
        <br /><br />

        <p>
            Seed: <input type="text" id="xrplSeed" class="form-control" /> <br />
        </p>
        <input type="button" class="btn btn-success" onclick="submitSeed()" value="Submit seed" id="loginBtn" /> <br />

    </div>
</div>

