@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>NFTicket is a non-custodial wallet for NFT in your XRPL accounts. <br />
        You can manage your NFT tokens, check your NFT transactions and create/receive sell offers. <br />
        <a href="@Url.Action("Access","Home")" class="button">Log in your account</a>
    </p> 
</div>